<div style="display: flex; gap: 1rem; padding: 1rem 4rem;">
  <div style="max-width: 96px;">
    <img height="96" style="border-radius: 100%;" src="https://github.com/{{ site.github }}.png" alt="avatar">
  </div>
  <div>
    Hi all,<br>
    My name is Manuel... add bio
  </div>
</div>
<div style="text-align: center;">
  <a href="https://twitter.com/{{ site.twitter }}">twitter</a>
  <a href="https://github.com/{{ site.github }}">github</a>
  <a href="https://linkedin.com/in/{{ site.linkedin }}">linkedin</a>
  <a href="feed.xml">rss</a>
</div>