<!-- <footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div>
        <a href="{{ page.commentLink }}">comments</a>
      </div>
    
      <div>
        <a href="/feed.xml">rss</a>
      </div>
    
      <div class="share">
        <a href="javascript:navigator.share?.({ title: '{{page.title}}', text: '{{page.description}}', link: location.href }) ?? window.open('{{ page.commentLink }}')">share</a>
      </div>
    </div>

  </div>

</footer> -->

<footer class="site-footer h-card">
  <div class="wrapper">
    <p>
      Subscribe via <a href="{{ "/feed.xml" | relative_url }}">RSS Feed</a>
    </p>
  </div>
</footer>