<hr>

<footer style="display: flex; text-align: center; justify-content: space-around;">
  <div style="min-width: 120px;">
    <a href="{{page.commentLink}}">comments</a>
  </div>

  <div style="min-width: 120px;">
    <a href="/feed.xml">newsletter</a>
  </div>
</footer>

<template>
  <div style="min-width: 120px;">
    <a href="#">share</a>
  </div>
</template>

<script>
  if (navigator.share) {
    const footer = document.querySelector('footer');
    const t = document.querySelector('template');
    const n = t.content.cloneNode(true);

    t.addEventListener('click', () => {
      navigator.share({ title: '{{page.title}}', text: '{{page.description}}', link: location.href });
    })
    
    footer.appendChild(n);
  }
</script>