<footer class="site-footer h-card">
  <div class="wrapper">
    <p>
      Subscribe via <a href="{{ "/feed.xml" | relative_url }}">RSS Feed</a>
    </p>
  </div>
</footer>

<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="shikaan" data-description="Support me on Buy me a coffee!" data-message="If you enjoyed this content, consider buying me a coffee. Thank you anyway! " data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
